<a href="https://colab.research.google.com/github/gnishtha/EEG-MNIST-Analysis/blob/master/train_in_seperated_instance.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Mount drive using PtcKing091@gmail.com

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive

In [2]:
#Get the dataset (run only first time)
!wget http://mindbigdata.com/opendb/MindBigData-EP-v1.0.zip

--2019-11-19 09:13:30--  http://mindbigdata.com/opendb/MindBigData-EP-v1.0.zip
Resolving mindbigdata.com (mindbigdata.com)... 86.109.162.167
Connecting to mindbigdata.com (mindbigdata.com)|86.109.162.167|:80... connected.
HTTP request sent, awaiting response... 200 OK
Length: 427958689 (408M) [application/zip]
Saving to: ‘MindBigData-EP-v1.0.zip’

MindBigData-EP-v1.0 100%[===================>] 408.13M  1.37MB/s    in 5m 31s

2019-11-19 09:19:02 (1.23 MB/s) - ‘MindBigData-EP-v1.0.zip’ saved [427958689/427958689]

In [3]:
#extract the dataset, (run only first time)
!unzip /content/MindBigData-EP-v1.0.zip #'/content/drive/My Drive/BCI MNIST'

Archive:  /content/MindBigData-EP-v1.0.zip
  inflating: EP1.01.txt

In [0]:
##imports
import gc
import pickle
import pandas as pd

In [0]:
#Remove unnecessary feature
import gc
def pop(ls):
  ls=ls.replace('\t',',').split(',')
  ls.pop(0)
  ls.pop(0)
  ls.pop(0)
  ls.pop(2)
  return ls

In [3]:
itemlist = [pop(line.rstrip('\n')) for line in open('/content/EP1.01.txt')]
gc.collect()

0

In [4]:
itemlist[0][0:5]

['AF3', '6', '4395.384615', '4382.564102', '4377.435897']

In [0]:
index=[ i[1] for i in itemlist ] #extracting predicted variable

In [0]:
electrode=[ i[0] for i in itemlist ] #extracting electrode

In [7]:
#removing incomplete data points
temp=index[0]
i=0
flag=False
while i <14:
  if index[i] !=  temp:
    flag=True
    break
  else:
    i+=1
if flag:
  index=index[i:]
  itemlist=itemlist[i:]
len(itemlist)

910476

In [0]:
[ itemlist[i].pop(0) for i in range(len(itemlist))] #run 2 times to remove unnecessary feature points

In [10]:
itemlist[0][0:5]

['4395.384615', '4382.564102', '4377.435897', '4387.179487', '4395.897435']

In [0]:
#finalpred.to_csv('/content/drive/My Drive/BCI MNIST/yvar1.csv')
itemlist=[ list(map(eval,i)) for i in itemlist ]

In [11]:
print(len(itemlist))
len(index)

910476

910476

In [12]:
import pandas as pd
df=pd.DataFrame(itemlist).astype(float)
del itemlist
gc.collect()
#thresh = len(df) * .1
#df.dropna(thresh = thresh, axis = 1, inplace = True)

28

In [0]:
#t=df.head(1000).mean()
df=df.fillna(0) #cannot remove data since dropping the rows with nan incur huge data losses, so replacing it with none.

In [14]:
df.head(5)

           0            1            2            3    ...  316  317  318  319
0  4395.384615  4382.564102  4377.435897  4387.179487  ...  0.0  0.0  0.0  0.0
1  4489.230769  4475.384615  4474.358974  4486.666666  ...  0.0  0.0  0.0  0.0
2  4538.461538  4528.717948  4524.615384  4526.153846  ...  0.0  0.0  0.0  0.0
3  4207.692307  4205.641025  4200.512820  4194.358974  ...  0.0  0.0  0.0  0.0
4  4497.948717  4498.461538  4494.871794  4497.948717  ...  0.0  0.0  0.0  0.0

[5 rows x 320 columns]

NameError: ignored

In [16]:

from numpy import array
from numpy import argmax
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OneHotEncoder
# define example
values = array(electrode)
print(values)
# integer encode
label_encoder = LabelEncoder()
integer_encoded = label_encoder.fit_transform(values)
print(integer_encoded)
# binary encode
onehot_encoder = OneHotEncoder(sparse=False)
integer_encoded = integer_encoded.reshape(len(integer_encoded), 1)
onehot_encoded = onehot_encoder.fit_transform(integer_encoded)

['AF3' 'F7' 'F3' ... 'F4' 'F8' 'AF4']
[0 4 2 ... 3 5 1]

/usr/local/lib/python3.6/dist-packages/sklearn/preprocessing/_encoders.py:415: FutureWarning: The handling of integer data will change in version 0.22. Currently, the categories are determined based on the range [0, max(values)], while in the future they will be determined based on the unique values.
If you want the future behaviour and silence this warning, you can specify "categories='auto'".
In case you used a LabelEncoder before this OneHotEncoder to convert the categories to integers, then you can now use the OneHotEncoder directly.
  warnings.warn(msg, FutureWarning)

In [0]:
onehot = [i.tolist() for i in onehot_encoded]

In [28]:
onehot[0]

[1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0]

In [0]:
#combining data for same instances
#itemlist=df.values.tolist()
var=len(itemlist)
for i in range(14):
  if var%14==0:
    break
  var-=1
#del df
tl=[]
biglist=[]
i=0
bigpred=[]
index=index[:var]
itemlist=itemlist[:var]
for j in range(0,var):
  temp=onehot[i]+itemlist[i]
  temppred=index[i]
  biglist.append(temp)
  bigpred.append(temppred)
  i=i+1

In [30]:
len(biglist)

910476

In [0]:
#del df
del itemlist

In [33]:
gc.collect()
biglist[0]

[1.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 4395.384615,
 4382.564102,
 4377.435897,
 4387.179487,
 4395.897435,
 4398.461538,
 4396.923076,
 4391.794871,
 4391.282051,
 4395.897435,
 4398.974358,
 4396.410256,
 4392.820512,
 4392.820512,
 4395.384615,
 4398.974358,
 4394.358974,
 4381.538461,
 4376.410256,
 4383.589743,
 4387.179487,
 4388.717948,
 4397.948717,
 4401.538461,
 4397.948717,
 4398.974358,
 4398.974358,
 4395.897435,
 4396.923076,
 4398.461538,
 4397.948717,
 4396.410256,
 4391.794871,
 4389.743589,
 4389.743589,
 4385.641025,
 4387.692307,
 4393.846153,
 4389.743589,
 4381.025641,
 4377.948717,
 4378.461538,
 4377.435897,
 4385.128205,
 4393.333333,
 4389.230769,
 4382.564102,
 4378.974358,
 4375.384615,
 4378.461538,
 4386.153846,
 4389.230769,
 4393.846153,
 4390.25641,
 4374.871794,
 4367.692307,
 4374.871794,
 4384.615384,
 4390.76923,
 4394.358974,
 4390.76923,
 4382.051282,
 4381.025641,
 4385.641025,
 4376.923076,
 4365.641025,
 4373.333333,
 4377.948717,
 4365.128205,
 4363.589743,
 4375.897435,
 4374.358974,
 4368.205128,
 4373.333333,
 4378.461538,
 4375.897435,
 4374.358974,
 4376.410256,
 4377.435897,
 4376.410256,
 4370.25641,
 4370.76923,
 4380.0,
 4381.538461,
 4378.974358,
 4388.717948,
 4390.76923,
 4376.410256,
 4372.820512,
 4378.461538,
 4376.923076,
 4377.435897,
 4378.461538,
 4375.384615,
 4385.641025,
 4396.923076,
 4387.692307,
 4385.641025,
 4395.897435,
 4390.76923,
 4379.487179,
 4381.025641,
 4379.487179,
 4380.0,
 4386.666666,
 4388.717948,
 4386.666666,
 4384.615384,
 4383.589743,
 4383.076923,
 4386.666666,
 4388.205128,
 4381.538461,
 4373.333333,
 4375.384615,
 4388.717948,
 4392.820512,
 4386.153846,
 4385.128205,
 4388.205128,
 4382.051282,
 4382.051282,
 4393.846153,
 4395.897435,
 4385.641025,
 4378.974358,
 4373.333333,
 4370.76923,
 4376.923076,
 4382.564102,
 4384.615384,
 4386.666666,
 4384.102564,
 4380.51282,
 4375.897435,
 4371.282051,
 4376.410256,
 4380.0,
 4369.230769,
 4362.051282,
 4368.717948,
 4373.333333,
 4369.230769,
 4370.25641,
 4373.846153,
 4377.948717,
 4380.0,
 4373.333333,
 4367.179487,
 4369.743589,
 4373.333333,
 4376.410256,
 4379.487179,
 4373.846153,
 4364.102564,
 4368.717948,
 4374.358974,
 4368.205128,
 4363.076923,
 4368.205128,
 4375.897435,
 4378.974358,
 4381.538461,
 4381.025641,
 4376.923076,
 4374.358974,
 4372.307692,
 4373.333333,
 4376.410256,
 4376.923076,
 4378.461538,
 4387.179487,
 4392.307692,
 4392.820512,
 4391.282051,
 4388.205128,
 4383.589743,
 4378.974358,
 4380.51282,
 4381.025641,
 4372.820512,
 4370.25641,
 4375.897435,
 4380.0,
 4382.051282,
 4382.051282,
 4381.025641,
 4386.153846,
 4385.641025,
 4375.897435,
 4370.76923,
 4370.25641,
 4373.846153,
 4380.51282,
 4375.897435,
 4371.794871,
 4380.0,
 4380.51282,
 4370.76923,
 4371.794871,
 4382.051282,
 4387.179487,
 4387.179487,
 4381.538461,
 4373.333333,
 4375.384615,
 4383.589743,
 4384.615384,
 4381.538461,
 4380.51282,
 4378.461538,
 4377.948717,
 4382.564102,
 4382.564102,
 4374.871794,
 4373.333333,
 4378.974358,
 4384.102564,
 4385.128205,
 4384.102564,
 4386.666666,
 4391.794871,
 4393.333333,
 4386.153846,
 4384.615384,
 4393.846153,
 4398.461538,
 4392.820512,
 4388.717948,
 4392.820512,
 4393.333333,
 4389.743589,
 4387.692307,
 4383.076923,
 4380.51282,
 4382.051282,
 4384.102564,
 4386.666666,
 4392.820512,
 4393.333333,
 4388.717948,
 4384.615384,
 4381.538461,
 4383.076923,
 4386.666666,
 4387.179487,
 4389.743589,
 4391.282051,
 4385.641025,
 4383.076923,
 4385.128205,
 4384.102564,
 4385.128205,
 4390.25641,
 4393.333333,
 4393.333333,
 4390.76923,
 4384.615384,
 4385.641025,
 4390.76923,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0]

In [0]:
#(creating data frames)
gc.collect()
finaldf=pd.DataFrame(biglist) 
finalpred=pd.DataFrame(bigpred)

In [35]:
len(finaldf)==len(finalpred)

True

In [0]:
#saving dataframesss
finaldf.to_csv('/content/drive/My Drive/BCI MNIST/xpadvar3.csv')
finalpred.to_csv('/content/drive/My Drive/BCI MNIST/ypadvar3.csv')

In [0]:
finalpred.tail(25)

In [45]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression, LinearRegression, Ridge
df=finaldf
finaldf=(df-df.values.min())/(df.values.max()-df.values.min())
print('start')
X_train, X_test, y_train, y_test = train_test_split(finaldf, finalpred, test_size=0.20, random_state=42)
model = LinearRegression()
model.fit(X_train,y_train)
print('stop')

start
stop

In [0]:
#scaler = StandardScaler()
import numpy as np
idx = np.random.permutation(X_test.index)
X_test=X_test.reindex(idx)
y_test=y_test.reindex(idx)
predictions = model.predict(X_test)

In [47]:
from sklearn.metrics import roc_curve, auc, precision_score, confusion_matrix, explained_variance_score, max_error, mean_absolute_error, mean_squared_error
print(explained_variance_score(predictions,y_test))
print(max_error(predictions,y_test))
print(mean_absolute_error(predictions, y_test, multioutput='raw_values'))
print(mean_squared_error(predictions, y_test, multioutput='raw_values'))

-375.5605358661508
9.104701280593872
[2.50289076]
[8.29088818]