<a href="https://colab.research.google.com/github/suyash091/EEG-MNIST-Analysis/blob/master/Training_EEG_Ridge.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import gc
import numpy as np

In [0]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive

In [0]:
Df1=pd.read_csv('/content/drive/My Drive/BCI MNIST/xvar1.csv')
Df2=pd.read_csv('/content/drive/My Drive/BCI MNIST/xvar2.csv')
Df3=pd.read_csv('/content/drive/My Drive/BCI MNIST/xvar3.csv')

In [0]:
bigdata = pd.concat([Df1, Df2, Df3], ignore_index=True, sort =False)
del Df1
del Df2
del Df3

In [6]:
bigdata.drop(bigdata.columns[bigdata.columns.str.contains('unnamed',case = False)],axis = 1, inplace = True)
bigdata.head()

             0            1            2  ...         3651         3652         3653
0  4395.384615  4382.564102  4377.435897  ...  4058.974358  4070.769230  4335.038295
1  4385.641025  4381.538461  4386.666666  ...  4071.282051  4057.435897  4335.038295
2  4380.512820  4389.743589  4395.897435  ...  4334.595502  4334.855340  4335.038295
3  4395.897435  4390.769230  4403.589743  ...  4076.410256  4082.564102  4072.820512
4  4395.384615  4385.128205  4382.051282  ...  4045.641025  4049.743589  4335.038295

[5 rows x 3654 columns]

In [0]:
pdf1=pd.read_csv('/content/drive/My Drive/BCI MNIST/yvar1.csv')
pdf2=pd.read_csv('/content/drive/My Drive/BCI MNIST/yvar2.csv')
pdf3=pd.read_csv('/content/drive/My Drive/BCI MNIST/yvar3.csv')

In [0]:
bigpred = pd.concat([pdf1, pdf2, pdf3], ignore_index=True, sort =False)

In [0]:
bigpred=bigpred['0'].map({'-1-1-1-1-1-1-1-1-1-1-1-1-1-1':10,'88888888888888':8,'66666666666666':6,'00000000000000': 0,'99999999999999':9,'55555555555555':5,'22222222222222':2,'11111111111111':1,'77777777777777':7,'33333333333333':3,'44444444444444':4,88888888888888:8,66666666666666:6,00000000000000: 0,99999999999999:9,55555555555555:5,22222222222222:2,11111111111111:1,77777777777777:7,33333333333333:3,44444444444444:4})

In [10]:
del pdf1
del pdf2
del pdf3
gc.collect()

20

In [11]:
len(bigpred.dropna())==len(bigpred)

True

In [12]:
bigpred.head()

0    6
1    7
2    9
3    9
4    0
Name: 0, dtype: int64

In [0]:
bigpred.drop(bigpred.columns[bigpred.columns.str.contains('unnamed',case = False)],axis = 1, inplace = True)
#bigpred.head(100)

AttributeError: ignored

In [13]:
len(bigdata)==len(bigpred)

True

In [0]:
#Import models from scikit learn module:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import KFold   #For K-fold cross validation
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC
from sklearn.tree import DecisionTreeClassifier, export_graphviz
from sklearn import metrics
import numpy as np
from sklearn.metrics import roc_curve, auc, precision_score, confusion_matrix, explained_variance_score, max_error, mean_absolute_error, mean_squared_error
from sklearn.linear_model import LogisticRegression, LinearRegression, Ridge

#Generic function for making a classification model and accessing performance:
def classification_model(model, predictors, outcome):
  history=model.fit(predictors,outcome.values.ravel())
  
  predictions = model.predict(predictors)
  
  accuracy = metrics.accuracy_score(predictions,outcome)
  print('Accuracy : %s' % '{0:.3%}'.format(accuracy))

  kf = KFold(n_splits=2)
  error = []
  for train, test in kf.split(predictors):
    train_predictors = (predictors.iloc[train,:])
    
    train_target = outcome.iloc[train]
    
    model.fit(train_predictors, train_target.values.ravel())
    
    error.append(model.score(predictors.iloc[test,:], outcome.iloc[test]))
 
  print('Cross-Validation Score : %s' % '{0:.3%}'.format(np.mean(error)))

  return history

In [0]:
idx = np.random.permutation(df1.index)

                0
0  66666666666666
1  77777777777777
2  99999999999999
3  99999999999999
4               0

In [28]:
from sklearn.model_selection import train_test_split
df=bigdata
bigdata=(df-df.values.min())/(df.values.max()-df.values.min())
print('start')
X_train, X_test, y_train, y_test = train_test_split(bigdata, bigpred, test_size=0.20, random_state=42)
model = Ridge(alpha=1.0)
model.fit(X_train,y_train)
print('stop')

start
stop

In [0]:
#scaler = StandardScaler()

idx = np.random.permutation(X_test.index)
X_test=X_test.reindex(idx)
y_test=y_test.reindex(idx)
predictions = model.predict(X_test)
#prc=precision_score(predictions,y_test, average=None)
#cfm=confusion_matrix(predictions,y_test)
#accuracy = metrics.accuracy_score(predictions,y_test)
#false_positive_rate, true_positive_rate, thresholds = roc_curve(y_test, predictions)
#auc = auc(false_positive_rate, true_positive_rate)
#print(accuracy)
#print(prc)
#print(cfm)
#history=classification_model(model,X_test,y_test)

In [30]:
print(explained_variance_score(predictions,y_test))
print(max_error(predictions,y_test))
print(mean_absolute_error(predictions, y_test, multioutput='raw_values'))
print(mean_squared_error(predictions, y_test, multioutput='raw_values'))

-97.93416737942323
10.04630854405656
[2.50395031]
[8.33556872]